#welcome.hero-unit.span7
  %h1 Crew Call
  %h3 Make it big in the Film Industry
.row.span8.plans
  .span2.well
    .plan
      %h2 Silver
    %ul.unstyled
      %li Unlimited Access
      %li Pay Monthly
    %h3 $15/month
    = link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary'
  .span2.well.featured
    .plan.featured-plan
      %h2 Gold
    %ul.unstyled
      %li Unlimited Access
      %li Pay Yearly
    %h3 $120/year
    = link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary'
  .span2.well
    .plan
      %h2 Platinum
    %ul.unstyled
      %li Unlimited Access
      %li Lifetime Membership
    %h3 $299/life
    = link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary'
