// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-title .btn {
  margin-bottom: 16px;
}

#job table {
  margin-bottom: 10px;
}

#job th {
  text-align: left;
  padding: 0px 10px 10px 0px;
}

#job td {
  padding: 0px 10px 10px 0px;
}